* {
	margin:0px;
	padding:0px;
}
a {
	text-decoration:none;
	font-family:Microsoft YaHei,'华文细黑',Helvetica Neue,Helvetica,Tahoma,Arial,Times New Roman,Verdana CenturyGothic,Pingfang SC,Hiragino Sans GB,Hiragino Sans GB W3,Microsoft YaHei UI,WenQuanYi Micro Hei,sans-serif;
}
.full {
	position:absolute;
	display:block;
    left: 20px;
    top: 20px;
	width:150px;
	height:40px;
	border:1px solid #8470FF;
	border-radius:20px;
	text-align:center;
	line-height:40px;
	color:black;
	overflow:hidden;
}