@keyframes typing {
    from { width: 0 }
}
@font-face {
    font-family:'diaoke';
    src: url("../font/font1.ttf");
}
p {
    font-size: 100px;
    width: 15em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s;  
}
.policem{
    position: absolute;
    /* width: 60%;
    height: 60%; */
    margin: auto;
    overflow: hidden;
    left: 50px;
    top: 50px;
}
.policeg{
    position: absolute;
    /* width: 60%;
    height: 60%; */
    margin: auto;
    overflow: hidden;
    left: 1150px;
    top: 50px;
}
.black{
    position: absolute;
    margin: auto;
    overflow: hidden;
    left: 350px;
    top: 60px;
}
#text{
    position: absolute;
    font-family: diaoke;
    left:100px;
    top: 150px;
    /* margin: center; */
    /* text-align: center; */
    font-size: 33px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space:nowrap;
    color: #fff;
}