    @font-face {
    font-family:'diaoke';
    src: url("../font/font1.ttf");
    }
    body{
        border: none;
        height: 100vh;
        overflow: hidden;
        display: flex;
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        background-blend-mode: multiply,multiply;
        transition: 0.5s ease-in-out;
        /* filter: blur(15px); */
    }
    .jindu{
        position: absolute;
        color: white;
        font-family: diaoke;
        font-size: 29px;
        top: 17px;
        left: 83%;
    }
    .mohu{
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 0.5s;
    }
    .omt{
        position: absolute;
        width: 0px;
        height: 0px;
        color: white;
        font-family: diaoke;
        font-size: 36px;
        top: 400px;
        left: -944px;
        z-index: 1000;
        opacity: 0;
        transition: 0.5s;
    }
    .return{
        position: absolute;
        width: 0px;
        height: 0px;
        color: white;
        font-family: diaoke;
        font-size: 36px;
        top: 400px;
        left: -344px;
        z-index: 1000;
        opacity: 0;
        transition: 0.5s;
    }
    .graduate{
        position: absolute;
        width: 0px;
        height: 0px;
        /* align-items: center; */
        transform: translate(-50%,-50%);
        top: 40%;
        left: 61%;
        opacity: 0;
        color: white;
        font-family: diaoke;
        font-size: 100px;
        z-index: 999;
        transition: 1.5s;
    }
    .warnning{
        position: absolute;
        width: 700px;
        height: 100px;
        /* align-items: center; */
        transform: translate(-50%,-50%);
        top: -50%;
        left: 50%;
        opacity: 0;
        color: white;
        font-family: diaoke;
        font-size: 100px;
        z-index: 999;
    }
    .warndown{
        animation: xialai 1.5s forwards 0.5s;
    }
    @keyframes xialai{
        100%{
            top: 40%;
            opacity: 1;
        }
    }
    .phone{
        top: 10%;
        position: absolute;
        width: 23%;
        height:80%;
        left: 10%;
        border-radius: 20px;
        background: black;
        box-shadow: 5px 5px 10px rgb(35, 34, 34);
    }
    .guideline{
        position: absolute;
        height: 45px;
        width: 45px;
        border-radius: 60px;
        background: white;
        left: 50px;
        top: 20px;
        transition: 0.5s;
        overflow: hidden;
        transform: translateX(-50%);
    }
    .guideline:hover{
        height: 315px;
        width: 60px;
    }
    .part{
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background: black;
        transform: translate(-50%,-50%);
        left: 50%;
    }
    .choices{
        width: 600px;
        height: 250px;
        position: absolute;
        top: 50%;
        left: 45%;
    }
    .abcd{
        position: absolute;
        width: 57px;
        height: 57px;
        color: white;
        font-family: diaoke;
        font-size: 60px;
    }
    .answer{
        align-items: center;
        position: absolute;
        width: 180px;
        height: 70px;
        background:rgb(93, 91, 91);
        border-radius: 20% 10%;
        color: white;
        text-align: center;
        /* justify-content: center; */
        word-break: break-all;
        padding: 5px;
        box-shadow: 5px 5px 10px rgb(35, 34, 34);
        transition: 0.5s;
    }
    .answer:hover{
        /* top: 28%; */
        box-shadow: 0px 0px 5px 2px rgb(35, 34, 34);
    }
    .answer span{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 3%;
        top: 15px;
        line-height: 150%;
        text-align: left;
    }
    .dian{
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: rgb(102, 101, 101);
        left: 22%;
        top: 4%;
    }
    .bydian{
        position: absolute;
        width: 100px;
        height: 15px;
        border-radius: 7px;
        background: rgb(102, 101, 101);
        transform: translateX(-50%);
        left: 50%;
        top: 4%;
    }
    .screen{
        transform: translateX(-50%);
        left: 50%;
        top: 10%;
        width: 90%;
        height: 77%;
        background: white;
        position: absolute;
    }
    .trans{
        position: absolute;
        width: 100%;
        height: 100%;
        background: gray;
        opacity: 0;
        /* z-index: 997; */
    }
    .trans span{
        position: absolute;
        width: 40px;
        font-family: diaoke;
        font-size: 40px;
        display: flex;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
    .transanimate{
        animation: transanimate 3s forwards;
    }
    @keyframes transanimate{
        1%{
            z-index: 997;
            opacity: 0;
        }
        40%{
            z-index: 997;
            opacity: 1;
        }
        60%{
            z-index: 997;
            opacity: 1;
        }
        99%{
            z-index: 997;
            opacity: 0;
        }
        100%{
            opacity: 0;
            z-index: 0;
        }
    }
    .home{
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 3%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgb(45, 45, 45);
    }
    .fang{
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        height: 20px;
        width: 20px;
        border-radius: 3px;
        background-color: rgb(87, 87, 87);
    }
    .talk_input{
        width: 100%;
        border-top: 2px gray solid;
        height: 7%;
        bottom: 0%;
        position: absolute;
        padding-top: 5px;
    }
    .atalk {
		margin: 10px;
        transition: 0.5s;
    	}
	.atalk span {
		display: inline-block;
		background: #0181cc;
		border-radius: 10px;
		color: #fff;
		padding: 5px 10px;
        word-break: break-all;
	}
	.btalk {
		margin: 10px;
		text-align: right;
        transition: 0.5s;
	}
	.btalk span {
		display: inline-block;
		background: #ef8201;
		border-radius: 10px;
		color: #fff;
		padding: 5px 10px;
        word-break: break-all;
	}
    .kuang{
        position: absolute;
        left: 15%;
    }
    .introduce{
        height: 400px;
        width: 600px;
        position: absolute;
        left: 45%;
        top: 10%;
    }
    .head{
        width: 100%;
        height: 100px;
        position: absolute;
        color: #fff;
        font-size: 50px;
        font-family: diaoke;
        text-align: center;
    }
    .details{
        width: 100%;
        height: 200px;
        color: #fff;
        position: absolute;
        line-height: 170%;
    }
    .zi{
        transition: 0.5s;
    }
    .thief{
        position: absolute;
        width: 220px;
        height: 250px;
        z-index: 1200;
        left: 150%;
        top: 39%;
        transition: 2s;
    }