body{
    border: none;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    transition: 0.5s ease-in-out;
    /* filter: blur(15px); */
}
@font-face {
    font-family:'diaoke';
    src: url("../font/font1.ttf");
}
.jindu{
    position: absolute;
    color: rgb(56, 54, 54);
    font-family: diaoke;
    font-size: 29px;
    top: 17px;
    left: 83%;
}
.mohu{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
}
.return{
    position: absolute;
    width: 0px;
    height: 0px;
    color: gray;
    font-family: diaoke;
    font-size: 36px;
    top: 400px;
    left: -344px;
    z-index: 1000;
    opacity: 0;
    transition: 0.5s;
}
.omt{
    position: absolute;
    width: 0px;
    height: 0px;
    color: gray;
    font-family: diaoke;
    font-size: 36px;
    top: 1400px;
    left: 944px;
    z-index: 1000;
    opacity: 0;
    transition: 0.5s;
}
.warnning{
    position: absolute;
    width: 700px;
    height: 100px;
    /* align-items: center; */
    transform: translate(-50%,-50%);
    top: -50%;
    left: 50%;
    opacity: 0;
    color: rgb(56, 54, 54);
    font-family: diaoke;
    font-size: 100px;
    z-index: 999;
}
.warndown{
    animation: xialai 1.5s forwards 0.5s;
}
@keyframes xialai{
    100%{
        top: 40%;
        opacity: 1;
    }
}
.trans{
    position: absolute;
    width: 600px;
    height: 350px;
    left: 50%;
    top: 12%;
    border-radius: 20px;
    background-image: linear-gradient(-20deg, #fbfcdb 0%, #e9defa 100%);
    opacity: 0;
    /* z-index: 997; */
}
.trans span{
    position: absolute;
    font-family: diaoke;
    font-size: 70px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: rgb(56, 54, 54);
}
.transanimate{
    animation: transanimate 3s forwards;
}
@keyframes transanimate{
    1%{
        z-index: 997;
        opacity: 0;
    }
    40%{
        z-index: 997;
        opacity: 1;
    }
    99%{
        z-index: 997;
        opacity: 0;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}
.introduce{
    position: absolute;
    width: 150px;
    height: 80%;
    left: 12%;
    top: 10%;
}
.head{
    width: 100px;
    height: 100%;
    position: absolute;
    color: rgb(56, 54, 54);
    font-size: 70px;
    font-family: diaoke;
    text-align: center;
    word-break: break-all;
}
.details1{
    width: 250px;
    height: 145px;
    color: rgb(56, 54, 54);
    position: absolute;
    line-height: 150%;
    background-image: linear-gradient(-20deg, #fbfcdb 0%, #e9defa 100%);
    word-break: break-all;
    /* justify-content: center; */
    border-radius: 20px;
    padding: 10px;
}
.details2{
    width: 250px;
    height: 75px;
    color: rgb(56, 54, 54);
    position: absolute;
    line-height: 150%;
    background-image: linear-gradient(-20deg, #fbfcdb 0%, #e9defa 100%);
    word-break: break-all;
    border-radius: 20px;
    padding: 10px;
}
.details3{
    width: 250px;
    height: 102px;
    color: rgb(56, 54, 54);
    position: absolute;
    line-height: 150%;
    background-image: linear-gradient(-20deg, #fbfcdb 0%, #e9defa 100%);
    word-break: break-all;
    border-radius: 20px;
    padding: 10px;
}
.video{
    position: absolute;
    width: 600px;
    height: 350px;
    left: 50%;
    top: 12%;
    border-radius: 20px;
    overflow: hidden;
}
.answer{
    align-items: center;
    position: absolute;
    width: 180px;
    height: 60px;
    background:gray;
    border-radius: 20% 10%;
    color: white;
    text-align: center;
    /* justify-content: center; */
    word-break: break-all;
    padding: 5px;
    box-shadow: 5px 5px 10px rgb(56, 55, 55);
    transition: 0.5s;
}
.answer:hover{
    /* top: 28%; */
    box-shadow: 0px 0px 5px 2px rgb(56, 55, 55);
    /* width: 183px; */
    height: 62px;
}
.answer span{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 3%;
    top: 15px;
    line-height: 150%;
    text-align: left;
}
.zi{
    transition: 0.5s;
    opacity: 0;
}
.choices{
    width: 800px;
    height: 140px;
    position: absolute;
    top: 66%;
    left: 49%;
}
.abcd{
    position: absolute;
    width: 57px;
    height: 57px;
    color: rgb(56, 54, 54);
    font-family: diaoke;
    font-size: 60px;
}
.guideline{
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    height: 0px;
    width: 0px;
    top: 91%;
    left: 4%;
    background: white;
    transition: 0.5s;
    /* overflow: hidden; */
}
.guides{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    opacity: 0;
    /* background: rgb(235, 162, 222); */
}
.guides img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.guideline:hover{
    height: 350px;
    width: 350px;
}
.jia{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background: white;
    transition: 0.5s;
    border-radius: 50%;
    overflow: hidden;
}
.jia img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.guideline:hover .jia{
    left: -50%;
    top: 150%;
}
.guideline:hover .guides{
    opacity: 1;
}
.replay{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: gray;
    top: 65%;
    left: 87%;
    transition: 0.5s;
    box-shadow: 5px 5px 10px rgb(35, 34, 34);
}
.replay img{
    position: absolute;
    width: 80%;
    height: 80%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.replay:hover{
    box-shadow: 0px 0px 5px 2px rgb(35, 34, 34);
    width: 80px;
    height: 80px;
}
.graduate{
    position: absolute;
    width: 0px;
    height: 0px;
    /* align-items: center; */
    transform: translate(-50%,-50%);
    top: 40%;
    left: 61%;
    opacity: 0;
    color: gray;
    font-family: diaoke;
    font-size: 100px;
    z-index: 999;
    transition: 1.5s;
}
.thief{
    position: absolute;
    width: 220px;
    height: 250px;
    z-index: 1200;
    left: 150%;
    top: 39%;
    transition: 2s;
}